<div ng-include="'components/partials/header.html'"></div>
<div class="main-content-block container">
    <div class="aside-block" ng-include="'components/partials/side_menu.html'"></div>
    <div class="items-block">
        <div class="items-block">
            <div class="items-block-header">
                <h2 class="items-block-h2">О сайте</h2>
            </div>
            <div ng-include="'/components/partials/error-block.html'"
                 onload="showError()" ng-show="error"></div>
            <div class="post-more-main-block" id="about-site">
                <p>
                    Доска объявлений Ads призвана помочь людям продать или найти интересующий их товар.
                    Сайт был создан Курлеевым Юрием и Федорончуком Богданом. Если у Вас есть предложения
                    по улучшению работы сайта, напишите пожалуйста нам по указанному адресу:
                </p>
                <a href="mailto:ykurleev88@gmail.com" class="mail-link"> Юрий </a><br/>
                <a href="mailto:bfedoronchuk@gmail.com" class="mail-link"> Богдан </a>
            </div>
        </div>
    </div>
</div>
<div class="footer" ng-include="'components/partials/footer.html'"></div>