<div ng-include="'components/partials/authorizate-menu.html'"></div>
<header class="header">
	<div class="main-header">
		<div class="main-header-content container">
			<div class="header-logo">
				<div class="header-logo-top">
					<a href="#/index" class="logo-link" id="logo-link"><b>ADS</b></a>
				</div>
				<div class="header-logo-bottom">
					-Доска объявлений-
				</div>
			</div>
			<div class="header-add">
				<a href="#/add-advert" class="header-add-button" ng-show="user"> + Объявление</a>
			</div>
			<div class="header-regauth">
				<span ng-hide="user">
					<a href="" class="header-regauth-link" ng-click="toggleAuthDialog()">
					<img src="../../img/loginIcon.png" alt="login"> ВХОД
				    </a> / <a href="#/register" class="header-regauth-link">РЕГИСТРАЦИЯ</a>
				</span>
                <span ng-show="user">
                    <a href="" class="header-regauth-link" ng-click="unauthorize()">Выйти</a>
                </span>
			</div>
		</div>
	</div>
	<div class="search-block">
		<h1 class="search-block-h1">Все свежие объявления на ADvertS.com!</h1>
		<div class="container">
			<div class="search-field-block">
				<div class="search-form">
					<input type="text" name="searchRequest" id="searchRequest" placeholder="Название товара" class="search-field">
					<input type="button" value="Найти" class="search-submit">
				</div>
			</div>
			<div class="arrow-right"></div>
		</div>
	</div>
</header>