<div id="nav-menu" class="nav-menu">
	<div class="nav-menu__mob-header clearfix">
		<button ng-click="ui.toggleMenu()" class="menu-toggler"></button>
		<a href="" class="brand-logo"> <img src="img/logo-3.png" alt="bugbutt"> </a>
		<button ng-click="ui.toggleMenu()" class="arrow-right"></button>
	</div>
	<div id="categories" ng-click="ui.toggleClass('categories', 'nav-menu__item_active')" class="nav-menu__item">
		Categories <span class="caret-icon"> </span>
		<ul class="nav-menu__subitems">
			<li> <a href="">Mobile Phones</a> </li>
			<li> <a href="">Smartphones</a> </li>
			<li> <a href="">Tablets</a> </li>
			<li> <a href="">Notebooks</a> </li>
		</ul>
	</div>
	<div class="nav-menu__item">About Us</div>
	<div class="nav-menu__item">Contacts</div>
	
</div>