<aside class="aside-block">
    <div class="menu-block">
        <div class="menu">
            <div class="menu-header">
                Меню
            </div>
            <div class="menu-item">
                <a href="/index/index" class="menu-link">Главная страница</a>
            </div>
            <div class="menu-item">
                <a href="#" class="menu-link" onclick="removeContent(); return false;">Информация о сайте</a>
            </div>

            <div class="menu-item">
                <a href="/user/about/>" class="menu-link" onclick="removeContent(); return false;">Личный кабинет</a>
            </div>

        </div>
    </div>
    <div class="menu-block">
        <div class="menu">
            <div class="menu-header">
                Категории
            </div>

            <div class="menu-item">
                <a href="/index/category/" class="menu-link">Test</a>
            </div>

        </div>
    </div>
</aside>