<aside class="aside-block">
    <div class="menu-block">
        <div class="menu">
            <div class="menu-header">
                Меню
            </div>
            <div class="menu-item">
                <a href="#/home" class="menu-link">Главная страница</a>
            </div>
            <div class="menu-item">
                <a href="#" class="menu-link">Информация о сайте</a>
            </div>
            <div class="menu-item" ng-show="user">
                <a href="#/profile" class="menu-link">Личный кабинет</a>
            </div>
        </div>
    </div>
    <div class="menu-block">
        <div class="menu">
            <div class="menu-header">
                {{blockTitle}}
            </div>
            <div class="menu-item" ng-repeat="category in categories">
                <a href="#/adverts/categories/{{category.id}}/1" class="menu-link"
                   ng-click="getAdvertCategory($event)">
                    {{category.name}}
                </a>
            </div>
        </div>
    </div>
    <div class="menu-block" id="tags-block">
        <div class="menu">
            <div class="menu-header">
                Теги
            </div>

            <div class="tags-block">
                <a href="" class="tag-link">Test</a>
                <a href="" class="tag-link">Срочно</a>
                <a href="" class="tag-link">Дёшево</a>
                <a href="" class="tag-link">Быстро</a>
                <a href="" class="tag-link">Качественно</a>
                <a href="" class="tag-link">Надёжно</a>
                <a href="" class="tag-link">Класс</a>
                <a href="" class="tag-link">Авто</a>
                <a href="" class="tag-link">Test</a>
            </div>

        </div>
    </div>
</aside>