<aside class="aside-block">
    <div class="menu-block">
        <div class="menu">
            <div class="menu-header">
                Меню
            </div>
            <div class="menu-item">
                <a href="#/home" class="menu-link">Главная страница</a>
            </div>
            <div class="menu-item">
                <a href="#" class="menu-link">Информация о сайте</a>
            </div>
            <div class="menu-item" ng-show="user">
                <a href="#/user" class="menu-link">Личный кабинет</a>
            </div>
        </div>
    </div>
    <div class="menu-block">
        <div class="menu">
            <div class="menu-header">
                Категории
            </div>

            <div class="menu-item">
                <a href="/index/category/" class="menu-link">Test</a>
            </div>

        </div>
    </div>
</aside>