<div id="change-on-menu-open" class="products">
	<ng-include src="'components/partials/header.html'"></ng-include>

	<h2 class="main-title">Products</h2>

	<div ng-repeat="product in products" class="col-sm-6 col-md-4">
		<div class="card product" id="viewBox-{{product._id}}">
			<div class="card-content">
				<div ng-hide="product.isInStore" class="product__is-in-store"> not in store </div>
				<div class="product__image">
					<img ng-src="{{product.imgUrl}}" alt="">
				</div>
				<h3 class="product__name"> {{product.name}}
					<div ng-hide="!product.label" class="product__label label label-default" style="background: {{product.label.color}}"> {{product.label.text}} </div> </h3>
				<h4 class="product__cost">
					<span ng-class="{'product__cost_new' : product.oldCost}">{{product.cost}}$</span>
					<span ng-show="product.oldCost" class="product__cost_old">{{product.oldCost}}$</span>
				</h4>
				<div class="product__description text-preview"> {{product.description}} </div>
			</div>
			<div class="card-controls">
				<button class="card-controls-btn btn-half">add to cart</button>
				<button class="card-controls-btn btn-half btn-white">to wishlist</button>
			</div>
		</div>
		<div ng-hide="true" class="thumbnail" id="editBox-{{product._id}}">
			{{product.name}}
			{{product.cost}}
			{{product.description}}
			{{product.label}}
			{{product.isInStore}}
			{{product.imgUrl}}
		</div>
	</div>

	<footer class="footer">
		<a href="" class="footer__logo">
			<img src="img/logo-2.png" alt="">
		</a>

		<button ng-click="ui.scrollTo('page-top')" class="footer__arrow-top"></button>
	</footer>
</div>