<div ng-include="'components/partials/header.html'"></div>
<div class="main-content-block container">
    <div class="aside-block" ng-include="'components/partials/side_menu.html'"></div>
    <div class="items-block">
    <div class="items-block-header">
        <h2 class="items-block-h2">Информация о пользователе</h2>
    </div>
    <div class="advert-form-block-main" id="user">
        <div class="user-photo">
            <img src="" class="photo">
        </div>
        <hr class="hr">
        <div class="user-info-row">Имя: Юрий</div>
        <div class="user-info-row">Фамилия: Курлеев</div>
        <div class="user-info-row">Группа: Администраторы</div>
        <div class="user-info-row">E-mail: ykurleev88@gmail.com</div>
        <div class="user-info-row">Дата регистрации: 25.06.2016</div>
        <div class="user-info-row">Откуда: Одесса, Украина</div>
        <hr class="hr">
        <a href="" class="edit-btn">Редактировать профиль</a>
    </div>

    <!--<div class="user-posts">-->
        <div class="items-block-header">
            <h2 class="items-block-h2">Мои объявления</h2>
        </div>

        <div class="post">
            <div class="post-description">
                <h3 class="post-title">Post title</h3>
                <div class="image-block">
                    <img src="">
                </div>
                <div class="description">
                    Post description
                </div>
            </div>
            <div class="post-rating">

                <div class="delete-post"> X </div>

                <div class="price">150 грн.</div>
            </div>
            <div class="hr"><hr/></div>
            <div class="post-footer">
                <div class="post-time">
                    <img src="../../../img/dateIco.png" alt="dateIco">
                    19.11.2016
                </div>
                <div class="post-author">
                    <img src="../../../img/authorIco.png" alt="authorIco">
                    Юрий Курлеев
                </div>
                <div class="post-readmore-btn">
                    <a href="" class="post-readmore">Подробнее</a>
                </div>
            </div>
        </div>

    <!--</div>-->
    </div>
</div>