<div ng-include="'components/partials/modal-delete.html'"></div>
<div class="main-content-block container" id="admin-container">
    <div class="aside-block aside-admin" ng-include="'components/partials/side-menu-admin.html'"></div>
    <div class="items-block" id="admin-items-block">
        <div ng-include="'/components/partials/error-block.html'"></div>
        <div class="items-block-header">
            <h2 class="items-block-h2">Наиболее популярные теги</h2>
        </div>
        <div class="admin-main-content main-statistics">
            <div class="admin-items-table">
                <div class="admin-table-row header-row">
                    <div class="admin-table-cell">ID</div>
                    <div class="admin-table-cell">Name</div>
                    <div class="admin-table-cell">Mentioned</div>
                </div>
                <div class="admin-table-row" ng-repeat="tag in tags track by $index">
                    <div class="admin-table-cell">{{tag.id}}</div>
                    <div class="admin-table-cell">{{tag.name}}</div>
                    <div class="admin-table-cell">{{tag.advertsAmount}}</div>
                </div>
            </div>
        </div>
        <div class="items-block-header">
            <h2 class="items-block-h2">Наиболее популярные подкатегории</h2>
        </div>
        <div class="admin-main-content main-statistics">
            <div class="admin-items-table">
                <div class="admin-table-row header-row">
                    <div class="admin-table-cell">ID</div>
                    <div class="admin-table-cell">Name</div>
                </div>
                <div class="admin-table-row"
                     ng-repeat="subcategory in subcategories track by $index">
                    <div class="admin-table-cell">{{subcategory.id}}</div>
                    <div class="admin-table-cell">{{subcategory.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer" ng-include="'components/partials/footer.html'"></div>