<div ng-include="'components/partials/header.html'"></div>
<div class="main-content-block container">
    <div class="aside-block" ng-include="'components/partials/side_menu.html'"></div>
    <div class="items-block">
        <div class="items-block-header">
            <h2 class="items-block-h2">Информация о пользователе</h2>
        </div>
        <div class="advert-form-block-main" id="user">
            <div class="user-photo">
                <img src='{{user._links.image.href}}' class="photo">
            </div>
            <hr class="hr">
            <div class="user-info-row">Имя: {{user.name}}</div>
            <div class="user-info-row">Фамилия: {{user.surname}}</div>
            <div class="user-info-row">Группа: {{user.role}}</div>
            <div class="user-info-row">E-mail: {{user.email}}</div>
            <div class="user-info-row">Дата регистрации: {{user.registrationDate[0]}}</div>
            <div class="user-info-row">Откуда: {{user.regionName}}, {{user.countryName}}</div>
            <hr class="hr">
            <a href="" class="edit-btn">Редактировать профиль</a>
        </div>
        <div class="items-block-header" ng-show="adverts">
            <h2 class="items-block-h2">Мои объявления</h2>
        </div>
        <div class="post" ng-repeat="advert in adverts">
            <div class="post-description">
                <h3 class="post-title">{{advert.title}}</h3>
                <div class="image-block">
                    <img ng-src={{advert._links.image.href}} class="post-main-image">
                </div>
                <div class="description">
                    {{advert.description}}
                </div>
            </div>
            <div class="post-rating">
                <div class="delete-post" ng-show="user.id == advert.owner.id"> X </div>
                <div class="price">{{advert.price + " " + advert.currency.abbreviation}}</div>
            </div>
            <div class="hr"><hr/></div>
            <div class="post-footer">
                <div class="post-time">
                    <img src="../../../img/dateIco.png" alt="dateIco">
                    {{advert.addTime}}
                </div>
                <div class="post-author">
                    <img src="../../../img/authorIco.png" alt="authorIco">
                    {{advert.owner.name + " " + advert.owner.surname}}
                </div>
                <div class="post-readmore-btn">
                    <a href="#/adverts/more/{{advert.id}}" class="post-readmore">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>