<div ng-include="'components/partials/header.html'"></div>
<div class="main-content-block container">
    <div class="aside-block" ng-include="'components/partials/side_menu.html'"></div>
    <div class="items-block">
        <div class="advert-form-block">
            <div class="advert-form-block-header">
                <h2>Добавление нового объявления</h2>
            </div>
            <div class="advert-form-block-main">
                <form action="" method="POST" class="advert-form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="tag" class="label">Теги: </label>
                        <input type="text" class="input" id="tag" ng-model="formData.tag">
                        <div class="small-help">*Теги писать с решёткой: #пример#тега</div>
                    </div>
                    <div class="form-group">
                        <label for="category" class="label">Категория: </label>
                        <select class="input" id="category" ng-model="selected"
                                ng-change="getSubcategories()"
                                ng-options="category.id as category.name for category in categories"
                                required>
                        </select>
                    </div>
                    <div class="form-group" ng-show="selected">
                        <label for="subcategory" class="label">Подкатегория: </label>
                        <select class="input" name="subcategory" id="subcategory"
                                ng-model="formData.scat"
                                ng-options="subcategory.id as subcategory.name for subcategory in subcategories"
                                required>
                        </select>
                    </div>
                    <hr class="hr">
                    <div class="form-group">
                        <label for="marker" class="label">Метка: </label>
                        <select class="input" id="marker" ng-model="marker"
                                ng-options="marker.id as marker.name for marker in markers"
                                required>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="topic" class="label">Тема объявления: </label>
                        <input type="text" class="input" id="topic" ng-model="formData.title" required>
                    </div>
                    <div class="form-group">
                        <label for="text" class="label">Текст объявления: </label>
                        <textarea rows="10" class="input" id="text" ng-model="formData.description" required></textarea>
                    </div>
                    <hr class="hr">
                    <div class="form-group">
                        <label class="label">Фотография: </label>
                        <input type="file" class="input" name="photo" required>
                    </div>
                    <hr class="hr">
                    <div class="form-group">
                        <label for="price" class="label">Цена: </label>
                        <input type="number" class="input" name="price" id="price" required>
                        <select class="input" id="currency" ng-model="currency"
                                ng-options="currency.id as currency.abbreviation for currency in currencies"
                                required>
                        </select>
                    </div>
                    <hr class="hr">
                    <input type="submit" value="Готово" class="advert-form-submit">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer" ng-include="'components/partials/footer.html'"></div>