<div ng-include="'components/partials/header.html'" onload="scrollTo()"></div>
<div class="main-content-block container">
    <div class="aside-block" ng-include="'components/partials/side_menu.html'"></div>
    <div class="items-block">
        <div class="advert-form-block">
            <div class="advert-form-block-header">
                <h2>{{advert.title}}</h2>
            </div>
            <div ng-include="'/components/partials/error-block.html'" onload="showError()" ng-show="error"></div>
            <div class="advert-form-block-main">
                <div class="post-category-header">
                    Категория: <a href="#/adverts/category/{{advert.category.id}}" class="category-link">{{advert.category.name}}</a>
                    <a href="#/adverts/subcategory/{{advert.subcategory.id}}" class="category-link">{{advert.subcategory.name}}</a>

                    <a href="#/adverts/edit/{{advert.id}}" class="edit-btn" id="user-edit" ng-show="advert.owner.id == user.id">Редактировать</a>
                </div>
            </div>
            <div class="post-more-main-block">
                <div class="photo-container">
                    <img ng-src={{advert._links.image.href}} alt="Фотография товара" class="photo">
                </div>
                <hr class="hr">
                <div class="shortcut-info-block">
                    <div class="contacts-info">
                        <div class="avatar">
                            <img ng-src={{advert.owner._links.image.href}} alt="" class="avatar-image">
                        </div>
                        <div class="contacts">
                            Контактная информация:
                        </div>
                        <div class="contacts-row">
                            <b>Email</b>: {{advert.owner.email}}
                        </div>
                        <div class="contacts-row">
                            <b>Регион</b>: {{advert.region.name}}
                        </div>
                        <div class="contacts-row">
                            <b>Страна</b>: {{advert.country.name}}
                        </div>
                        <div class="telephone-block">
                            <input type="text" class="telephone" ng-value="advert.owner.phone" readonly>
                        </div>
                    </div>
                    <div class="price-info">
                        {{advert.price + " " + advert.currency.abbreviation}}
                    </div>
                </div>
                <hr class="hr">
                {{advert.description}}
                <hr class="hr">
                <div class="post-footer">
                    <div class="post-more-time">
                        <img src="../../../img/dateIco.png" alt="dateIco">
                        {{advert.addTime}}
                    </div>
                    <div class="post-more-author">
                        <img src="../../../img/authorIco.png" alt="authorIco">
                        {{advert.owner.name + " " + advert.owner.surname}}
                    </div>
                    <div class="post-more-views">
                        <img src="../../../img/12-eye-icon.png" alt="authorIco">
                        {{advert.views}}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>